/* @import "greenposadki-autumn-sept.css" screen; */

@import "../../../../css/modules/user/pheix-shopcat.css?0.8.92" screen;
@import "../../../../css/modules/user/pheix-feedback.css" screen;

BODY {
	margin: 0;
	background-image: url('../images/commonskin/po4va.png');
}

IMG {
	border-style:none;
}

*:focus {
    outline: none !important;
}

/*.po4va {
	background-image: url('../images/commonskin/po4va-top-bg.jpg');
	background-position: top;
	background-repeat: no-repeat;
	position:relative;
	top:-66px;
	padding-bottom:10px;
}*/

.navbar BUTTON {
	outline: none !important;
}

.dropdown-menu {
	border: none !important;
	border-radius: 0px !important;
	text-align: center;
    background-color: rgba(255,255,255,.65);
}

.dropdown-menu A:active {
	background-color: transparent !important;
}

.dropdown-menu A SPAN, .dropdown-menu A:visited SPAN {
	color: #555;
}

.dropdown-menu A:hover SPAN {
	border-bottom: 2px dotted rgb(255, 128, 0); color: rgb(255, 128, 0) !important;; text-decoration: none;
}


.hamburger-inner {
	opacity: .5;
}

.template-content-text-container {
	padding:10px;
}

.index-content-text-container {
	padding:10px;
}

.subtop-img-line {
	/*background-image: url('../images/commonskin/subtop-img-line.png');*/
	background-position: top;
	background-repeat: no-repeat;
	position:relative;
	padding-bottom:10px;
}

.right-blocks {
	padding-left:10px;
}

.content-templ-tab2 {
	padding: 0px;
	width: 1065px;
}

.content-templ-tab2-td1 {
	width: 290px;
	vertical-align:top;
}

.content-templ-tab2-td2 {
	width: 775px;
	vertical-align:top;
}

.right-block-tab {
	width: 240px;
	margin-top:10px;
}

.right-block-tab-td1 {
	width: 80px;
}

.right-block-tab-td2 {
	width: 160px;
	vertical-align:top;
}

.logo-template {
	position:relative;
	margin: auto;
	padding: 0px;
}

.logo-main {
	position:relative;
	margin: auto;
	padding: 0px;
}

.parallax-window-template, .parallax-window {
	position:relative;
	z-index:2;
	background: transparent;
	-webkit-box-shadow: 0 7px 6px -6px rgba(0,0,0,.7);
	-moz-box-shadow: 0 7px 6px -6px rgba(0,0,0,.7);
	box-shadow: 0 7px 6px -6px rgba(0,0,0,.7);
}

.container {
	min-height: 200px;
}

.menu {
	position:absolute;
	z-index:3;
	width:100%;
	height: 66px;
	padding: 0px;
	margin-top:-66px;
}

A.menuitem-link { color: #202020; text-decoration:none; }
A.menuitem-link:VISITED { color: #202020; text-decoration:none; }
A.menuitem-link:HOVER   { color: #FF0000; text-decoration:none; }

.footer {
	position:relative;
	text-align:center;
	padding:15px;
	background-color: #2b2724;
	background-image: url('../images/commonskin/bottom-bg.jpg');
	background-position: top;
	background-repeat: no-repeat;
	font-family:Calibri,Arial; color: #C0C0C0; font-size: 9pt;
}

.content {
	position:relative;
	top:40px;
	width:1065px;
	height: 700px;
	margin: auto;
	padding: 20px;
	background-color:white;
}

.content-tab {
	position:relative;
	top:40px;
	padding:0;
	margin: auto;
	width:1065px;
}

.content-tab-td-1 {
	background-image: url('../images/commonskin/content/banner-bg.png');
	width:398px;
}

.content-tab-td-2 {
	background-color:transparent; background-image:none;
	float: top;
	width:667px;
}

.content-tab-2 {
	position:relative;
	background-color:transparent;
	background-image:none;
	padding:0;
	margin: auto;
	width:667px;
}

.content-tab-2-td-1 {
	width:667px;
}

.content-tab-2-td-2 {
	background-image: url('../images/commonskin/content/contentbg.png');
	width:667px;
}

A.back-to-mainpage {
	display:inline-block;
	width:150px;
	text-align:center;
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .4em 1em calc(.4em + 3px);
	border-radius: 3px;
	background: rgb(64,199,129);
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
}
A.back-to-mainpage:visited {
	color: white;
}
A.back-to-mainpage:hover {
	color: white;
	background: rgb(53, 167, 110);
	}

A.back-to-prevpage {
	display:inline-block;
	width:150px;
	text-align:center;
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: .4em 1em calc(.4em + 3px);
	border-radius: 3px;
	background: rgb(212,75,56);
	box-shadow: 0 -3px rgb(190,53,37) inset;
	transition: 0.2s;
}

A.back-to-prevpage:visited {
	color: white;
}

A.back-to-prevpage:hover {
	color: white;
	background: rgb(190,53,37);
}

.bottom-buttons {
	padding:20px 0 20px 0;
}

.indexcontent {
	min-height:319px;
	background-image: url('../images/commonskin/content/bottomcontent.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

.status { font-family: Arial,Tahoma; font-size: 10pt; color:#0000FF; font-weight: normal; }
.error { font-family: Arial,Tahoma; font-size: 10pt; color:#FF0000; font-weight: normal; }

.shadowtext_menu {
	color: #202020;
	font-family:Calibri;
	text-shadow: 1px 0px 0px #FFFFFF;
	font-size: 16pt;
	text-decoration: none;
}

.leftheader { font-family:Times New Roman,Arial; color: #000000; font-size: 18pt; }
.pageheader { font-family:Tahoma,Arial; color: #505050; font-size: 16pt; margin:0 0 30px 0px; }
.contenttext { font-family:Tahoma,Arial; color: #505050; font-size: 10pt; }
.textsmall { font-family:Tahoma,Arial; color: #505050; font-size: 9pt; }
.designby { font-family:Calibri,Arial; color: #C0C0C0; font-size: 9pt; }
.qr_standart_text { font-family:Tahoma,Arial; color: #505050; font-size : 13px; text-decoration: none; FONT-WEIGHT: none}

A.designby_link { font-family:Calibri,Arial; color: #C0C0C0; font-size: 9pt;TEXT-DECORATION: underline; }
A.designby_link:visited { font-family:Calibri,Arial; color: #C0C0C0; font-size: 9pt;TEXT-DECORATION: underline; }
A.designby_link:hover { font-family:Calibri,Arial; color: #808080; font-size: 9pt;TEXT-DECORATION: underline; }

table.commontab {
	border-color: #E0E0E0;
	border-width: 0 0 1px 1px;
	border-style: solid;
}

table.commontab td {
	border-color: #E0E0E0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	padding: 4px;
}

table.simpletab {
	border-color: #C0C0C0;
	border-width: 0 0 1px 1px;
	border-style: solid;
}

table.simpletab td{
	border-color: #C0C0C0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	padding: 4px;
	background-color: #FFFFFF;
	font-family:Tahoma,Arial; color: #505050; font-size: 10pt;
}

/* OLD CSS - style.css*/

.sghead {margin:10px; font-family:Tahoma,Helvetica; color: #505050; text-decoration: none;}
.bold_text { font-family:Tahoma,Arial; color: #505050; font-size : 11px; text-decoration: none; FONT-WEIGHT: bold}
.error { font-family:Tahoma,Arial; color: #FF0000; text-decoration: none; FONT-WEIGHT: none}
.designed_text { font-family:Tahoma,Arial; color: #505050; font-size : 11px; text-decoration: none; FONT-WEIGHT: bold}
/*.standart_text{ font-family:Tahoma,Arial; color: #FFFFFF; font-size : 11px; text-decoration: none; FONT-WEIGHT: none}*/
.standart_text_content{ font-family:Tahoma,Arial; color: #505050; font-size : 13px; text-decoration: none; FONT-WEIGHT: none}
.standart_text_catalog{ font-family:Tahoma,Arial; color: #505050; font-size : 11px; text-decoration: none; FONT-WEIGHT: none}
.standart_text_catalog_small{ font-family:Tahoma,Arial; color: #505050; font-size : 10px; text-decoration: none; FONT-WEIGHT: none}

.address_text{ font-family:Tahoma,Arial; color: #505050; font-size : 12px; text-decoration: none; FONT-WEIGHT: none}

A.main_menu {  font-family:Tahoma,Arial; COLOR: #505050; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.main_menu:visited { font-family:Tahoma,Arial; COLOR: #505050; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.main_menu:hover {  font-family:Tahoma,Arial; COLOR: #FF0000; FONT-WEIGHT: bold; TEXT-DECORATION: underline}

A.menu_link {  font-family:Tahoma,Arial; COLOR: #808080; TEXT-DECORATION: none}
A.menu_link:visited { font-family:Tahoma,Arial; COLOR: #808080; TEXT-DECORATION: none}
A.menu_link:hover {  font-family:Tahoma,Arial; COLOR: #FF0000; TEXT-DECORATION: underline}

A.botnavig_link {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #707070; TEXT-DECORATION: none}
A.botnavig_link:visited { font-family:Tahoma,Arial; font-size : 11px; COLOR: #707070; TEXT-DECORATION: none}
A.botnavig_link:hover {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #909090; TEXT-DECORATION: underline}

A.photo_link {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #505050; TEXT-DECORATION: none}
A.photo_link:visited { font-family:Tahom,Ariala; font-size : 11px; COLOR: #505050; TEXT-DECORATION: none}
A.photo_link:hover {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #FF0000; TEXT-DECORATION: underline}

A.simple_link {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #C6FFC6; TEXT-DECORATION: none}
A.simple_link:visited { font-family:Tahoma,Arial; font-size : 11px; COLOR: #C6FFC6; TEXT-DECORATION: none}
A.simple_link:hover {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #C6FFC6; TEXT-DECORATION: underline}

A.simple_link2 {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #E8D397; TEXT-DECORATION: none}
A.simple_link2:visited { font-family:Tahoma,Arial; font-size : 11px; COLOR: #E8D397; TEXT-DECORATION: none}
A.simple_link2:hover {  font-family:Tahoma,Arial; font-size : 11px; COLOR: #F2E7C4; TEXT-DECORATION: underline}

A.simple_link3 {  font-family:Tahoma,Arial;  COLOR: #FF8040; TEXT-DECORATION: none}
A.simple_link3:visited { font-family:Tahoma,Arial; COLOR: #FF8040; TEXT-DECORATION: none}
A.simple_link3:hover {  font-family:Tahoma,Arial; COLOR: #FF0000; TEXT-DECORATION: underline}

A {  font-family:Tahoma,Arial;  COLOR: #FF8040; TEXT-DECORATION: none}
A:visited { font-family:Tahoma,Arial; COLOR: #FF8040; TEXT-DECORATION: none}
A:hover {  font-family:Tahoma,Arial; COLOR: #FF0000; TEXT-DECORATION: underline}

.button {
	width: 40px;
	color: #404040;
	font-size: 11px;
	font-family: Tahoma, Verdana, Sans-Serif;
	background:#FAFAFA;
	border-color: #808080;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.input {
	width: 400px;
	color: #404040;
	font-size: 11px;
	font-family: Tahoma, Verdana, Sans-Serif;
	background:#FFFFFF;
	border-color: #808080;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

/* SHOPCAT TWEAKS */

#search-catalog { display:none; }
.shopcat-header-div { display:none; }
.shopcat-margined-li-i-d { padding: 0px; color: #444; }
.shopcat-greenp-lvl-table { }
.shopcat-greenp-lvl-row { background-color: rgba(255,255,255, .6); }

.shopcat-greenp-lvl-cell { padding:20px; }
.shopcat-greenp-lvl-cell, .shopcat-greenp-lvl-cell-img { }

.shopcat-greenp-lvl-cell-img { min-width:191px; }

.shopcat-variants-img {
	margin:20px;
	transition: all 0.1s linear;
}

.shopcat-greenp-lvl-row:HOVER { background-color: rgba(190,190,190, .1); }
.shopcat-greenp-lvl-row:HOVER .shopcat-variants-img {
	width:100%;
	height:auto;
	margin:0px;
}

.shopcat-template-block {
	margin: 0px;
	padding-top:0px;
}

.shopcat-greenp-lvl-cell-img { width: 15%; text-align: center; }
.shopcat-template-block > table {
	border-color: #C0C0C0;
	border-width: 0 0 1px 1px;
	border-style: solid;
}

.shopcat-template-block > table th {
	background-color: #f1f1f1;
}

.shopcat-template-block > table th, .shopcat-template-block > table td {
	border-color: #C0C0C0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	margin: 0;
	padding: 4px;
	font-family:Tahoma,Arial; color: #505050; font-size: 10pt;
}

.shopcat-template-block > table td {
	background-color: #fff;
}

.shopcat-n1-lvl-sider, .shopcat-n1-lvl-tmplblock { display: none; }

.shopcat-greenp-lvl-lnk, .shopcat-greenp-lvl-lnk:visited { font-size: 16pt; border-bottom: none; text-decoration: none; }
.shopcat-greenp-lvl-lnk:hover { border-bottom: 2px dotted rgb(255, 128, 0); color: rgb(255, 128, 0); text-decoration: none; }

.greenposadki-back-to-top, .greenposadki-back-to-top:visited  {
	background-color:#777;
	border-radius: 8%;
	width:50px;
	border: 0px solid white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
	text-align:center;
	line-height:50px;
	color: #fff;
	font-size:18pt;
	text-decoration:none !important;
	opacity:0.5;
}

.greenposadki-back-to-top:hover { background-color:#fff; color: #333; }

.grennposadki-root-container { width:100%; }
.grennposadki-content-container { width:100%; padding: 5px 0px; }
.greenposadki-left-container { padding: 10px; }

.shopcat-slider-anch { width:100%; text-align: center; }
.shopcat-variants-img { display: inline !important; }
/* .shopcat-template-sliderblock { padding-left: 0px; padding-right: 0px; } */
.captcha { border-color: #ccc; border-width: 1px 1px 1px 1px; border-style: solid; }
.fbbtn {
	padding:10px 35px;
	color: #404040;
	font-size: 10pt;
	font-family: Tahoma, Verdana, Sans-Serif;
	background:#fafafa;
	border-color: #ccc;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.fbinput {
	padding:7px;
	width: 400px;
	color: #404040;
	font-size: 10pt;
	font-family: Tahoma, Verdana, Sans-Serif;
	/*border: 1 outset #808080;
	height:18;*/
	background:#fff;
	border-color: #ccc;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.fbbtn:hover, .fbbtn:focus { background:#F1F1F1; border-color:#888; }
.fbinput:hover, .fbinput:focus { border-color:#888; color: #000; background:#fafafa; }


@media( min-width:110px) {
	.subtop-img-line {
		background-image: none;
	}
	.fbinput {
		width:100%;
	}
	.navbar {
		position: absolute;
		width: 100%;
		z-index:100;
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
		-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
		box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
		background-color: rgba(255,255,255,.9);
		font-size:16pt;
	}
	.logo-template { top: 50px; text-align: center; }
	.logo-template > A > IMG { width:150px; }
	.logo-main { top: 70px; }
	.logo-main > A > IMG { width:200px; }
	.parallax-window { min-height: 300px; }
	.index-banner-container {
		position: relative;
		padding: 20px 10px 0px 10px;
		/*border-top-left-radius: 10px;
		border-top-right-radius: 10px;*/
		border-top-left-radius: none;
		border-top-right-radius: none;
		z-index:1;
	}
	.index-banner-img-container {
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		background-image: url('../images/kedr-index-banner.jpg');
		background-size: cover;
		height: 250px;
	}
	.index-banner-img-container-text {
		border-bottom-left-radius: 0px;
		background-color: rgba(0,0,0,.7);
		color: #fff;
		font-size: 14pt;
	}
	.index-content-container {
		position: relative;
		padding:10px;
		/*border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;*/
		border-bottom-right-radius: none;
		border-bottom-left-radius: none;
		z-index:1;
	}
	.index-content-text-container {
		border-top: 1px solid #ccc;
	}
	.template-content-container {
		padding:10px;
		border-radius: 0px;
		z-index:1;
		/*background-color: rgba(255,255,255,.8) !important;*/
	}
	.template-content-text-container {
		border-left: none;
	}
	.shopcat-greenp-lvl-cell, .shopcat-greenp-lvl-cell-img {
		display: block;
		width:100%;
		border:none;
	}
	.shopcat-greenp-lvl-table {
		display: block;
		border: none;
	}
	.shopcat-greenp-lvl-row {
		display: block;
		border: 1px solid #eee;
		margin-bottom:30px;
	}
	.shopcat-variants-img {
		width:80%;
		height:auto;
	}
	.parallax-window-template, .parallax-window {
		border-bottom: 1px solid #666;
	}
}

@media( min-width:360px) {
	.shopcat-variants-img {
		width:70%;
		height:auto;
	}
}

@media( min-width:420px) {
	.fbinput {
		width:400px;
	}
	.shopcat-variants-img {
		width:60%;
		height:auto;
	}
}

@media( min-width:500px) {
	.shopcat-variants-img {
		width:50%;
		height:auto;
	}
}

@media (min-width:576px) {
	.logo-template { top: 100px; text-align: right; }
	.logo-template > A > IMG { width:200px; }
	.logo-main { top: 100px; }
	.logo-main > A > IMG { width: 300px; }
	.parallax-window { min-height: 370px; }
	.parallax-window-template { min-height: 300px; }
	.shopcat-greenp-lvl-cell-img {
		width:25%;
	}
	.shopcat-greenp-lvl-cell {
		width:auto;
	}
	.shopcat-greenp-lvl-cell, .shopcat-greenp-lvl-cell-img {
		display: table-cell;
		vertical-align: middle;
		border-bottom: 1px solid #eee;
		border-right:  1px solid #eee;
	}
	.shopcat-greenp-lvl-table {
		display: table;
		width:100%;
		border-top:  1px solid #eee;
		border-left: 1px solid #eee;
	}
	.shopcat-greenp-lvl-row {
		display: table-row;
		border: none;
		margin-bottom: 0px;
	}
	.shopcat-variants-img {
		width:150px;
		height:150px;
	}
}

@media( min-width:768px) {
}

@media( min-width:992px) {
	.subtop-img-line {
		background-image: url('../images/commonskin/subtop-img-line.png');
	}
	.index-banner-container {
		padding: 10px 0 10px 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 10px;
	}
	.index-banner-img-container {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 7px;
		background-repeat: no-repeat;
		height: 350px;
	}
	.index-banner-img-container-text {
		border-bottom-left-radius:7px;
	}
	.index-content-container {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
	}
	.index-content-text-container {
		border-left: 1px solid #ccc;
		border-top: none;
	}
	.template-content-container {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		background-image: url('../images/commonskin/content/contentbg-wline.png');
		background-position: left top;
	}
	.template-content-text-container { }
	.parallax-window-template { min-height: 400px; border-bottom: none; }
	.parallax-window { min-height: 750px; border-bottom: none; }
	.logo-template { top: 75px; }
	.logo-template > A > IMG { width:300px; }
	.logo-main { top: 270px; }
	.logo-main > A > IMG { width:400px; }
	.subtop-img-line {  }
}

@media( min-width:1160px) { }

.searchhl {
	background-color: rgba(0,255,0,.2);
}
