.menu-item-1 {
	display:inline-block;
	width:163px;
	height:66px;
	background-image: url('../images/winterskin/dec/menu/menu-item-1.png');
	background-position: top;
	background-repeat: no-repeat;
	line-height:72px;
	text-align:center;
	font-family: Calibri,Arial; font-size: 18pt;
	text-shadow: 1px 1px 1px white
}

.menu-item-2 {
	display:inline-block;
	width:163px;
	height:66px;
	background-image: url('../images/winterskin/dec/menu/menu-item-2.png');
	background-position: top;
	background-repeat: no-repeat;
	line-height:72px;
	text-align:center;
	font-family: Calibri,Arial; font-size: 18pt;
	text-shadow: 1px 1px 1px white
}

.menu-item-3 {
	display:inline-block;
	width:163px;
	height:66px;
	background-image: url('../images/winterskin/dec/menu/menu-item-3.png');
	background-position: top;
	background-repeat: no-repeat;
	line-height:72px;
	text-align:center;
	font-family: Calibri,Arial;  font-size: 18pt;
	text-shadow: 1px 1px 1px white
}

.menu-item-4 {
	display:inline-block;
	width:163px;
	height:66px;
	background-image: url('../images/winterskin/dec/menu/menu-item-4.png');
	background-position: top;
	background-repeat: no-repeat;
	line-height:72px;
	text-align:center;
	font-family: Calibri,Arial; font-size: 18pt;
	text-shadow: 1px 1px 1px white
}
