/* spoiler pre-classes */

UL.left-nav {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 30px;
}

spoiler-bottom-wrap {
	margin-bottom: 20px;
}

UL.spoilerlist > LI > SPAN {
	color: #777;
}

/* spoiler menu */

.spoiler-wrapper {
	font-size: 12pt;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
}

.spoiler a, div.spoiler-link a { color: #555; text-decoration: none; }
.spoiler a, div.spoiler-link a { /* анимация */
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.spoiler a:hover, div.spoiler-link:hover a { color: #FE5621; text-decoration: none; border-bottom: 1px dotted #FE5621; }

.spoiler:hover {cursor: pointer;}

.spoiler-text-block {
	/* width:200px; */
	font-size: 11pt;
}

.spoiler-text {
	font-size: 11pt;
}

.spoiler-text-block a {
	border-bottom: none;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.spoiler-text-block ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size : 11pt;
	color: #222;
	font-weight:bold;
}
.spoiler-text-block ul { list-style-type: none; padding-left: 0px; }
.spoiler-text-block ul li a:hover { color: #FE5621; text-decoration: none; border-bottom: 1px dotted #FE5621; }
.spoiler-text-block ul li a:visited { border-bottom: none; text-decoration: none; }

/* spoiler menu */
